table {
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
}

th {
    background-color: #8B0000;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}